.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.content-top{
  width: 100%;
  background-color: #d8c1ae;
  display: flex;
  margin-top: 25px;
  flex-direction: row;
}

.content-top-row{
  width: 100%;
  background-color: #d8c1ae;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}

.content-button-top{
  display: flex;
  margin-top: 25px;
  flex-direction: row;
}

.content-top-button-row{
  width: 45%;
  display: flex;
  margin-top: 25px;
  flex-direction: row;
}

.search-field{
  margin: 4px;
  margin-left: 15%;
  width: 40%;
  border-radius: 10px;
  border-color: transparent;
  height: 45px;
}


#filter{
  margin-left: 20%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.food-list {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
  width: 85%;
}

.signInBtn{
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  width: 100%;
  margin-top: 50px;

}

.SectionSelector{
  margin: 25px;
  width: 75%;
  border-radius: 10px;
  border-color: transparent;
  height: 1px;
  justify-content: center;
}